body {
    background-color: #00BFFF;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#post_id {
    font-family: Georgia, serif;
}

#post_author {
    color: white;
    font-style: bold;
}

#post_timestamp {
    font-style: italic;
}
